.has-error {
    border: 2px solid red !important;
    background-color: #ffe6e6;
}

#error {
    font-size: 0.9em;
    font-style: italic;
}

.readonly-style {
    background-color: #f0f0f0 !important;
    pointer-events: none;
    opacity: 0.8;
}